node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.*
!.env.example

.git
.github
.vscode

coverage
logs
uploads
mongodb_data
mongodb-bin
mongodb-compass
scratch

*.log
*.zip
*.bat
*.sh
*.dll
config.yml
test_receipt.jpg
