# إعدادات قاعدة البيانات
MONGO_URI=mongodb://127.0.0.1:27017/vodafone_cash_system

# توكنات البوتات (ضع توكناتك هنا في بيئة الإنتاج)
CLIENT_BOT_TOKEN=7954009088:AAEr9RjtnJkiBodK3wOK7Y9xEv_yzdi3Ot8
ADMIN_BOT_TOKEN=8696828486:AAG59YwVEa-61cDKSvN3t90L1CWREAWsUds

# أيدي حساب الإدارة
ADMIN_TELEGRAM_ID=1262656649
ADMIN_SECRET_CODE=200104

# مفاتيح الحماية (تطبيقات الموبايل والجلسات)
JWT_SECRET=generate_a_strong_secret_key_here
JWT_REFRESH_SECRET=generate_a_strong_refresh_key_here
SESSION_SECRET=generate_a_strong_session_key_here

# بيانات الاتصال بـ API شركة زين
ZAYN_USERNAME=01096580417
ZAYN_PASSWORD=112233
